@tailwind base;
@tailwind components;
@tailwind utilities;

table {
  border-collapse: separate;
  border: solid #cbd5e1 0.5px;
  border-radius: 8px;
}

td,
th {
  /* border-left: solid black 1px; */
  border-top: solid #cbd5e1 0.5px;
}

th {
  /* background-color: blue; */
  border-top: none;
}

td:first-child,
th:first-child {
  border-left: none;
  border-right: none;
}
